[user]
	email = RaviKumarReddyK@sonicwall.com
	name = Ravi Kumar Reddy K
[color]
	# Enable colors in color-supporting terminals
	ui = auto
[alias]
	# List available aliases
	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	
	# Command shortcuts
	ci = commit
	co = checkout
	st = status
	
	# Display tree-like log, because default log is a pain…
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	
	# Useful when you have to update your last commit
	# with staged files without editing the commit message.
	oops = commit --amend --no-edit
	
	# Edit last commit message
	reword = commit --amend
[log]
	# Use abbrev SHAs whenever possible/relevant instead of full 40 chars
	abbrevCommit = true
[status]
	# Display submodule rev change summaries in status
	submoduleSummary = true
	# Recursively traverse untracked directories to display all contents
	showUntrackedFiles = all
[color "branch"]
	# Blue on black is hard to read in git branch -vv: use cyan instead
	upstream = cyan